.square{
  margin-left: 35px;
}
.box{
  width:250px;
  height:250px;
  float: left;
  margin-left: 50px;
  margin-top:50px;
}



.one{
  background: rgb(255,99,71); 
  opacity: 1;
  transition: 0.3s;
}
.one:hover{
  opacity: .6;
  background: red;
}

.two{
background: rgb(255,99,71)
}

.two:hover{
  background: red;
  transform: scaleX(2);
  transition-duration: 2s;
}

.three{
background: rgb(255,99,71);
  opacity:1;  
  animation: flickerAnimation 5s infinite;
}

@keyframes flickerAnimation { /* flame pulses */
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.four{
background: rgb(255,99,71);
}

.four:hover{
  position: relative;
  animation: four 2s infinite;
  animation-iteration-count: infinite;
}

@keyframes four {
  0% {
    top: 0px;
  }
  25% {
    top: 10px;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 0px;
  }
}

.five{
background: rgb(255,99,71);
}

.five:hover{
  position: relative;
  animation: five 1s infinite;
  animation-iteration-count: infinite;
}

@keyframes five {
  0% {
    right: 10px;
  }
  25% {
    top: 20px;
  }
  50% {
    left: 20px;
  }
  100% {
    bottom: 10px;
  }
}

.six{
background: rgb(255,99,71);
}

.six:hover{
  transform: scale(2);
  transition-duration: 3s;
}

.seven{
background: rgb(255,99,71);
}

.seven:hover{
  transform: rotate(45deg);
  transition-duration: 2s;
  background: green;
}

.eight{
background: rgb(255,99,71);
}

.eight:hover{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
    transition: transform 1.5s;
}

.nine{
background: rgb(255,99,71);
transition-duration: 1.5s
}

.nine:hover{
  border-radius: 50%;
}

.ten{
background: rgb(255,99,71);
}

.ten:hover{
    box-shadow:
    1px 1px #53a7ea,
    2px 2px #53a7ea,
    3px 3px #53a7ea;
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
}

.eleven{
background: rgb(255,99,71);
  transform: skewY(1);
  transition: transform 0.5s ease;  
}

.eleven:hover{
  transform: skew(30deg, 20deg);
}

.twelve{
background: rgb(255,99,71);
 transform: rotate(0);
  transition: transform 0.5s ease;  
}

.twelve:hover{
 transform: perspective(500px) scaleZ(2) rotateX(45deg);
}

.thirteen{
background: rgb(255,99,71);
    transition: transform 3s;
}

.thirteen:hover{
 transform: rotate3d(3, 2, 2, 90deg) translateZ(50px);
}

.fourteen{
background: rgb(255,99,71);
   transform: matrix3d(1);
  transition: transform 0.5s ease;
}
.fourteen:hover{
transform: matrix3d(0.8535533905932737, 0.4999999999999999, 0.14644660940672619, 0, -0.4999999999999999, 0.7071067811865476, 0.4999999999999999, 0, 0.14644660940672619, -0.4999999999999999, 0.8535533905932737, 0, 22.62994231491119, -20.3223304703363, 101.3700576850888, 1)
}

.fifteen{
background: rgb(255,99,71);
    transform: matrix(1, 1, 1, 1);
  transition: transform 0.5s ease;
}

.fifteen:hover{
  transform: matrix(1, -1, 0, 1, 0, 0);
}

.sixteen{
background: rgb(255,99,71);
  transform-origin: left top;
  transition: transform 3s;
}

.sixteen:hover{
 transform: rotate(-500deg);
}

.seventeen{
background: rgb(255,99,71);
  transform-origin: left top;
  transition: transform 3s;
}

.seventeen:hover{
 transform: rotate(500deg);
}

.eighteen{
background: rgb(255,99,71);
  transition-duration: 2s;
}

.eighteen:hover{
  box-shadow: 0 0 20px 10px red;
  transform:scale(.75);
}

.twenty1{
background: rgb(255,99,71);
  border-radius: 6px;
  height: 250px;
  position: relative;
  min-width: 250px;
}

.twenty1:hover{
    animation: slide 2s linear;
}

@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}

.ball {
  background: #2db34a;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

.ninteen{
background: rgb(255,99,71);
}

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.ninteen:hover{
 -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.twenty{
background: rgb(255,99,71);
  border-radius: 6px;
  height: 250px;
  position: relative;
  min-width: 250px;
}

.twenty:hover{
  animation-name: slide2;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: .5s;
}

@keyframes slide2 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}

.ball {
  background: #2db34a;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: blue;
    border-radius: 100%;
  }
  50% {
    background-color: purple;
  }
  100% {
    transform: scale(1.5);
    background-color: pink;
  }
}
.twenty2{
background: rgb(255,99,71);
   animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
}

.twenty2 {
  animation: 
    stretch
    1.5s
    ease-out
    0s
    alternate
    infinite
    none
    running;
}

.thirty4{
background: rgb(255,99,71)
 height: 250px;
  width: 250px;
  background-color: purple;
  animation: 
    pulse 3s ease infinite alternate, 
    nudge 5s linear infinite alternate;
  border-radius: 100%;
}

@keyframes pulse {
  0%, 100% {
    background-color: violet;
  }
  50% {
    background-color: blue;
  }
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(150px, 0);
  }
  
  80% {
    transform: translate(-150px, 0);
  }
}

.twenty4{
background: rgb(255,99,71);
transition: background-color .2s ease-in;
 }

.twenty4:hover{
   color: #FFF;
}

.twenty5{
  background: rgb(255,99,71);
  opacity:1;  
  animation: flickerAnimation 5s infinite;
}

@keyframes flickerAnimation { /* flame pulses */
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }

}  

.twenty6{
background: rgb(255,99,71);
  transition: all 500ms ease; 
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}

.twenty6:hover{
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.twenty7{
background: rgb(255,99,71);
 transform: perspective(1px) translateZ(0);
}

.twenty7:hover{
  border: red solid 6px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  border-radius: 100px;
   animation-name: spinback;
  animation-duration: 4s;
  animation-iteration-count: 1000000000;
  }

.twenty8{
background: rgb(255,99,71);
}

.twenty8:hover{
background-color: yellow;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

  .stage {
        display: flex;
        height: 330px;
        width: 100%;
    }

.twenty9{
background: rgb(255,99,71)
 height: 250px;
  width: 250px;
  background-color: yellow;
  animation: 
    pulses 3s ease infinite alternate, 
    nudges 5s linear infinite alternate;
  border-radius: 100%;
      }

@keyframes pulses {
  0%, 100% {
    background-color: blue;
  }
  50% {
    background-color: yellow;
  }
}

@keyframes nudges {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(0, 150px);
  }
  
  80% {
    transform: translate(0, -150px);
  }
}

.stage{
    width:250px;
  height:250px;
  float: left;
  margin-left: 50px;
  margin-top:50px;
}

.thirty{
background: rgb(255,99,71);
   align-self: flex-end;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        transform-origin: bottom;
              animation-name: bounce-4;
        animation-timing-function: ease;

    }
    @keyframes bounce-4 {
        0%   { transform: scale(1,1)    translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1) translateY(-100px); }
        50%  { transform: scale(1,1)    translateY(0); }
        100% { transform: scale(1,1)    translateY(0); }
    }

.thirty1:hover.move-rigth{
background: rgb(255,99,71);
transition-duration: 2s ease}


.thirty1{
 transform: translate(350px,0);
    -webkit-transform: translate(350px,0); /** Chrome & Safari **/
    -o-transform: translate(350px,0); /** Opera **/
    -moz-transform: translate(350px,0); /** Firefox **/
}

.thirty2{
background: rgb(255,99,71);
}

.thirty3{
background: rgb(255,99,71)
}

.twenty3{
background: rgb(255,99,71)
}

.thirty5{
background: rgb(255,99,71)
}

.thirty6{
background: rgb(255,99,71)
}

.thirty7{
background: rgb(255,99,71)
}

.thirty8{
background: rgb(255,99,71)
}

.thirty9{
background: rgb(255,99,71)
}

.fourty{
background: rgb(255,99,71)
}

.fourty1{
background: rgb(255,99,71)
}

.fourty2{
background: rgb(255,99,71)
}

.fourty3{
background: rgb(255,99,71)
}

.fourty4{
background: rgb(255,99,71)
}

.fourty5{
background: rgb(255,99,71)
}

.fourty6{
background: rgb(255,99,71)
}

.fourty7{
background: rgb(255,99,71)
}

.fourty8{
background: rgb(255,99,71)
}

.fourty9{
background: rgb(255,99,71)
}

.fifty{
background: rgb(255,99,71)
}
