body {
  background: black;  
  color: white;
  font-family: monaco;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

.classTime {
  background: white;
}

#menuImg{
  transform: scale(2);
}