.a{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
}

.page{
  position: relative;
  float: center;
}

.page1{
  position: relative;
  float: center;
   width: 1000px;
  height: 900px;
}

.b{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
}

.c{  
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.d{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.ques{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.e{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.ap{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.pa{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
         -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

}

.dot{
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.ex{
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.comma{
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.f{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.g{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.h{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.i{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.j{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.k{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.l{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.m{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.n{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.o{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.p{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.q{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.r{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.s{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.t{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.u{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.v{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.w{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.x{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.y{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.z{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.zero{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.one{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.two{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.three{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.four{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.five{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
      -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.six{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
  margin-top: -5px;
   -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.seven{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.eight{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
}

.nine{
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin-left: 10px;
     -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
       -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.a.mid {
  height:50px;
  width:50px;
  color: white;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
  margin-left: 10px;
}

.a.mid:hover{
  position: absolute;
  animation: a 1s infinite;
  animation-iteration-count: infinite;
}

@keyframes a {
  0% {
    top: 0px;
  }
  25% {
    top: 5px;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 0px;
  }
}

.line {
  background:rgb(255,215,0);
}

#hz{
  width: 1.25px;
  height: 75px;
  background: white;
  top: 0px;
  left: 0px;
  margin-top: 10px;
  position: relative;
}

#hz1{
  width: 1.25px;
  height: 75px;
  background: white;
  top: -85px;
  left: 60px;
  margin-top: 10px;
  position: relative;
}

.b.top {
  height:50px;
  width:50px;
  color: white;
  display:grid;
  grid-auto-rows:1px;
  grid-gap:5px;
  margin-left: 10px;
}
.b.top:hover{
  position: relative;
  animation: a 1s infinite;
  animation-iteration-count: infinite;

}
.b.bottom {
  height:50px;
  width:60px;
  display:grid;
  grid-auto-rows:1px;
  grid-gap:5px;
  margin-left: 10px;
}

@keyframes b.top {
  0% {
    left: 0px;
  }
  25% {
    left: 5px;
  }
  50% {
    left: 15px;
  }
  100% {
    left: 0px;
  }
}

#hz2{
  width: 1.25px;
  height: 42px;
  background: white;
  top: -85px;
  left: 60px;
  margin-top: 10px;
  position: relative;
}

#lt{
  width: 70px;
  height: 1.25px;
  background: white;
  top: -85px;
  left: 0px;
  position: relative;
}

#hz3{
  width: 1.25px;
  height: 33px;
  background: white;
  top: -86px;
  left: 70px;
  position: relative;
}

#hz4{
  width: 1.25px;
  height: 66px;
  background: white;
  margin-top: 12.5px;
  position: relative;
}

#hz5{
  width: 50px;
  height: 1.25px;
  background: white;
  margin-top: 13.5px;
  position: relative;
}

.c.mid {
  height:50px;
  width:50px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
  margin-left: 0px;
  top: -1px;
}

#lt1{
  width: 50px;
  height: 1.25px;
  background: white;
  top: 10px;
  left: 10px;
  position: relative;
}

#lt2{
  width: 50px;
  height: 1.25px;
  background: white;
  left: 10px;
  top: -4px;
  position: relative;
}

#lt3{
  width: 50px;
  height: 1.25px;
  background: white;
  top: 69px;
  left: 10px;
  position: relative;
}

.d.mid {
  height:50px;
  width:50px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
  top: 2.25px;
}

#lt4{
  width: 50px;
  height: 1.25px;
  background: white;
  position: relative;
}

#lt5{
  width: 50px;
  height: .9px;
  background: white;
  top: 74px;
  position: relative;
}

.e.mid {
  height:50px;
  width:50px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
  margin-left: 10px;
  top: 0px;
}

.e.bottom {
  height:50px;
  width:50px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
  margin-left: 20px;
  top: -18px;
}


.f.top {
  height:50px;
  width:50px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

.f.mid {
  height:50px;
  width:50px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

.g.top {
  height:50px;
  width:50px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

.g.mid {
  height:50px;
  width:25px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
  left: 25px;
}

#hz6{
  background: white;
  position: relative;
  top: -20px;
  left: -10px;
}

#hz7{
  width: 50px;
  height: 1.25px;
  background: white;
  position: relative;
  top: -20px;
  left: 10px;
}
#hz8{
  width: 1.25px;
  height: 25px;
  background: white;
  position: relative;
  top: -24px;
  left: 60px;
}

#lt6{
  width: 50px;
  height: .9px;
  top: -1px;
  background: white;
  position: relative;
}

.h.mid {
  height:50px;
  width:50px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
  top: 21.5px;
}

.i.mid {
  height:50px;
  width:25px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
  top: 11.5px;
  left: 2px;
}

.j.mid {
  height:50px;
  width:25px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
  top: 11.5px;
  left: 2px;
}

.l.top {
  height:50px;
  width:15px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

.o.top {
  height:50px;
  width:50px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

.s.mid {
  height:50px;
  width:50px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

.m.left {
  height:50px;
  width:30px;
  margin-left: 0px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

.m.right {
  height:50px;
  width:30px;
  margin-left: 30px;
  margin-top: -50px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

.n.left {
  height:50px;
  width:30px;
  margin-left: 0px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

.n.right {
  height:50px;
  width:30px;
  margin-left: 30px;
  margin-top: -50px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

.v.bottom {
  height:50px;
  width:20px;
  margin-top: 8px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

.w.left {
  height:50px;
  width:20px;
  margin-top: 8px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

.w.right {
  height:50px;
  width:20px;
  margin-top: 8px;
  right: 2px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

.x.top {
  height:50px;
  width:20px;
  margin-top: 8px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

.x.bottom {
  height:50px;
  width:20px;
  margin-top: 44px;
  margin-left: -25px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

.y.top {
  height:50px;
  width:20px;
  margin-top: 8px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

 #hz9 {
        width: 60px;
        height: 53px;
        border-bottom: 1px solid white;
        -webkit-transform:
            translateY(8.5px)
            translateX(19px)
            rotate(32deg); 
        position: absolute;
    }

#hz10{
  width: 1.25px;
  height: 25px;
  background: white;
  position: relative;
  top: -24px;
  left: 60px;
}

 #hz11 {
        width: 77px;
        height: 50px;
        border-bottom: 1px solid white;
        -webkit-transform:
            translateY(23.5px)
            translateX(-15px)
            rotate(100deg); 
        position: absolute;
    }

 #hz12 {
        width: 46px;
        height: 50px;
        border-bottom: 1px solid white;
        -webkit-transform:
            translateY(3px)
            translateX(35px)
            rotate(105deg); 
        position: absolute;
    }

    #hz13 {
        width: 77px;
        height: 50px;
        border-bottom: 1px solid white;
        -webkit-transform:
            translateY(23.5px)
            translateX(15.5px)
            rotate(100deg); 
        position: absolute;
    }

    #lt7{
   width: 20px;
    height: 1px;
    top: 6px;
    left: 5.5px;
  background: white;
  position: relative;
}

#lt8{
   width: 20px;
    height: 1px;
    top: 5px;
    left: 35px;
  background: white;
  position: relative;
}

#hz14 {
        width: 76px;
        height: 50px;
        border-bottom: 1px solid white;
        -webkit-transform:
            translateY(7px)
            translateX(13px)
            rotate(80deg);
        position: absolute;
    }

    #lt9{
   width: 20px;
    height: 1px;
    left: 0px;
  background: white;
  position: relative;
}

#lt10{
   width: 20px;
    height: 1px;
    left: 40px;
    margin-top: -75px;
  background: white;
  position: relative;
}

 #hz15 {
        width: 76px;
        height: 50px;
        border-bottom: 1px solid white;
        -webkit-transform:
            translateY(13px)
            translateX(-8px)
            rotate(80deg); 
        position: absolute;
    }

#hz16 {
        width: 25px;
        height: 50px;
        border-bottom: 1px solid white;
        -webkit-transform:
            translateY(38px)
            translateX(49px)
            rotate(80deg); 
        position: absolute;
    }

#hz17 {
        width: 76px;
        height: 50px;
        border-bottom: 1px solid white;
        -webkit-transform:
            translateY(21.5px)
            translateX(23.5px)
            rotate(100deg); 
        position: absolute;
    }

#hz18 {
         width: 76px;
        height: 50px;
        border-bottom: 1px solid white;
        -webkit-transform:
            translateY(22px)
            translateX(51.5px)
            rotate(100deg); 
        position: absolute;
    }

      #lt11{
   width: 19px;
    height: 1px;
    top: 80px;
    left: 11.5px;
  background: white;
  position: relative;
}

#lt12{
   width: 20px;
    height:1px;
    top: 79px;
    left: 38.5px;
  background: white;
  position: relative;
}

 #hz19 {
        width: 40px;
        height: 50px;
        border-bottom: 1px solid white;
        -webkit-transform:
            translateY(-7px)
            translateX(4px)
            rotate(75deg); 
        position: absolute;
    }

#hz20 {
        width: 40px;
        height: 50px;
        border-bottom: 1px solid white;
        -webkit-transform:
            translateY(44px)
            translateX(4px)
            rotate(105deg); 
        position: absolute;
    }

    #hz21 {
        width: 40px;
        height: 50px;
        border-bottom: 1px solid white;
        -webkit-transform:
            translateY(6.5px)
            translateX(35px)
            rotate(105deg); 
        position: absolute;
    }

#hz22 {
        width: 40px;
        height: 50px;
        border-bottom: 1px solid white;
        -webkit-transform:
            translateY(32px)
            translateX(35px)
            rotate(75deg); 
        position: absolute;
    }
    
    #lt13{
  width: 20px;
  height:1px;
  top: 44px;
  margin-left: 5px;
  background: white;
  position: relative;
}

 #hz23 {
        width: 80px;
        height: 50px;
        border-bottom: 1px solid white;
        -webkit-transform:
            translateY(26px)
            translateX(10px)
            rotate(105deg); 
        position: absolute;
    }

    #hz24 {
        width: 91px;
        height: 50px;
        border-bottom: 1px solid white;
        -webkit-transform:
            translateY(25.5px)
            translateX(-12px)
            rotate(122deg); 
        position: absolute;
    }


  #lt14{
  width: 50px;
  height:1px;
  margin-top: 6px;
  margin-left: -13px;
  background: white;
  position: relative;
}

#lt15{
  width: 50px;
  height:1px;
  top: 65px;
  margin-left: -10px;
  background: white;
  position: relative;
}

.z.top {
  height:50px;
  width:50px;
  margin-top: -1px;
  margin-left: -13px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

.z.bottom {
  height:50px;
  width:50px;
  margin-top: 15.5px;
  margin-left: -15.5px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

.zero.mid {
  height:50px;
  width:50px;
  margin-left: 0px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

.one.mid {
  height:50px;
  width:25px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
  top: 14px;
  left: 2px;
}

.two.top {
  height:50px;
  width:50px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
  margin-left: -10px;
}

.two.bottom {
  height:50px;
  width:60px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
  margin-left: 10px;
}

.two.botto {
  height:50px;
  width:50px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
  margin-left: 10px;
}

.five.top {
  height:50px;
  width:50px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
  margin-left: -10px;
}

.five.bottom {
  height:50px;
  width:60px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
  margin-left: 10px;
}

.five.botto {
  height:50px;
  width:50px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
  margin-left: 10px;
}


#hz25{
  width: 1.25px;
  height: 75px;
  background: white;
  top: 0px;
  left: 40px;
  margin-top: 10px;
  position: relative;
}


.three.mid {
  height:50px;
  width:50px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
  margin-left: 10px;
  top: 0px;
}

.three.bottom {
  height:50px;
  width:50px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
  margin-left: 20px;
  top: -18px;
}

.four.top {
  height:50px;
  width:50px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}


.k.top {
  height:50px;
  width:20px;
  margin-top: 8px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

.k.bottom {
  height:50px;
  width:20px;
  margin-top: 44px;
  margin-left: -25px;
  display:grid;
  grid-auto-rows: 1px;
  grid-gap:5px;
}

#hz23 {
        width: 34px;
        height: 50px;
        border-bottom: 1px solid white;
        -webkit-transform:
            translateY(23px)
            translateX(39px)
            rotate(64deg); 
        position: absolute;
    }

.dott {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}