canvas {
  display: block;
}

/*Author: Ertugrul MURAT, mail: ertugrulmu@gmail.com*/
html, body{
    width: 100%;
    height: 100%;
    position: relative;

    margin:0;
    padding:0;
    }
   
.animate{
  opacity:1;  
  animation: flickerAnimation 5s infinite;
}

@keyframes flickerAnimation { /* flame pulses */
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
p{
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: white;
  font-size: 15px;
}
body{
background: black;
}