.header{
  margin-left: 70px;
  margin-top: 90px;
  position: relative;
}

.fourty1{
animation: anim 4s linear infinite both;

  }
  @keyframes anim {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }

@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100);


.all{
  transform-origin: left top;
  position: relative;
  transition: transform 3s;
}

.all:hover{
 transform: rotate(-15deg);
}

.alli{
  animation: alli 1s linear infinite both;
}

.alli:hover{
animation: linear infinite both;
}

  @keyframes alli {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-4px, 4px);
    }
    40% {
      transform: translate(-4px, -4px);
    }
    60% {
      transform: translate(4px, 4px);
    }
    80% {
      transform: translate(4px, -4px);
    }
    100% {
      transform: translate(0);
    }
  }

.allii{
  margin-top: -100px;
transition: transform 3s;
}

.allii:hover{
 transform: rotate3d(3, 2, 2, 30deg) translateZ(50px);
}

.description{
  position: relative;
}

.dot {
  height: 15px;
  width: 15px;
  margin-top: 12.5px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
}

.dot:hover {
  background-color: black;
  }


.doti{
margin-left: 20px;
margin-top: -300px;
}

h4{
  margin-bottom: 100px;
  margin-left: 70px;
}

h5{
  margin-bottom: 100px;
}

h5:hover{
  margin-bottom: 100px;
  : black;
}

 .description {
        margin-left: 900px;
        margin-top: -1400px;
    }

 .description1 {
        margin-left: 900px;
        margin-top: -1300px;
    }

     .description2 {
        margin-left: 900px;
        margin-top: -1300px;
    }

@media screen and (max-width: 1000px) {
    .description {
        margin-left: 70px;
        margin-top: -1000px;
    }

    .description1 {
        margin-left: 70px;
        margin-top: -700px;
    }

    .description2 {
        margin-left: 70px;
        margin-top: -600px;
    }

    .all{
      transform: scale(.6);
      transition-duration: 1.5s;
    } 

     .alli{
      margin-top: -200px;
      transform: scale(.8);
      transition-duration: 1.5s;
    }

     .allii{
      margin-top: -300px;
      transform: scale(.6);
      transition-duration: 1.5s;
    }
}

    


/*
@media (min-width: 1000px) { 
  body {
    font-family: 'FontName', Fallback, sans-serif; 
  }
